<%=render 'shared/errors', obj: @book%>
<h1>Editing the book: <%=@book.title%> </h1>
<%=form_with(model: @book, local: true) do |f|%>
<ul style="list-style: none;">
  <li><%=f.label :title%>
  <%=f.text_field :title%></li></br>
  <li><%=f.label :summary%>
  <%=f.text_area :summary%></li></br>
  <li><%=f.label :Total_pages%>
  <%=f.text_field :no_of_pages%></li></br>
  <li><%=f.label :Published_on%>
  <%=f.date_field :publication_date%></li></br>
  <li><%=f.label :Book_availability%></li>
  <li><%=f.radio_button(:availability, "true")%>
  <%=f.label(:Availability, "Yes")%></li>
  <li><%=f.radio_button(:availability, "false")%>
  <%=f.label(:Availability, "No")%></li></br>
  <li><%=f.submit%></li>
</ul>
<%end%>
