<%= render 'shared/errors', obj: @location %>
<h1>Adding location:</h1>
<%=form_with(model: @location, local: true) do |f|%>
  <%=f.label :location%>
  <%=f.text_field :location%>
  <%=f.hidden_field :region_id, value: params[:region_id]%>
  <%=f.submit%>
<%end%>
